<div class="av_comments__list">
  <% @comments.each do |comment| %>
  <div class="av_comment__item clearfix">
      <section class="av_comment__item comment__user float-left">

        <%= link_to profile_path(comment.user) do %>
          <% if comment.user.profile_image.present? %>
            <span title="<%= comment.user.username %>"><%= image_tag(comment.user.profile_image.small.url) %></span>
          <% else %>
            <%= image_tag("user.png") %>
          <% end %>
        <% end %>
      </section>
      <section class="av_comment_item comment__body float-right">
          <%= simple_format comment.body, class: "comment__body__text" %>
          <div class="comment__body__meta clearfix">
              <date class="comment__body__meta__date float-left"><%= comment.created_at.strftime("%b %d, %Y") %></date>
              <% if current_user %>
                <span title="report this comment to admin." class="comment__body__meta__flag float-right" data-open="comment-flag-modal-<%= comment.id %>"><i class="fa fa-flag">&nbsp;</i>Flag</span>
              <% end %>
          </div>
      </section>
  </div>

    <!-- Comment Flag Modal -->
    <div class="reveal tiny" id="comment-flag-modal-<%= comment.id %>" data-reveal>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <blockquote>
        <%= simple_format comment.body %>
        <cite><%= comment.user.username %></cite>
      </blockquote>
      <%= simple_form_for @flag, url: comment_flag_path(flagable_type, comment), remote: true do |f| %>
      <%= f.input :message, input_html: {class: 'comment-flag-modal-message'} %>
      <p class="help-text">Message is optional and not required.</p>
      <%= f.button :submit, "Flag", class: 'button small secondary' %>
      <% end %>
    </div>
  <% end %>
</div>
