<section class="large-8 columns av_shots_list">
  <% @shots.each do |shot| %>
    <%= link_to shot_path(shot) do %>
      <section class="av_shot_item">
          <!-- <img src="images/piper_m600.jpg" class="av_shot_item__shot_image" /> -->
          <%= image_tag(shot.image.url, class: "av_shot_item__shot_image") %>
          <div class="av_shot_item__shot_info">
              <div class="shot_info__caption">
                  <p><%= shot.caption %></p>
              </div>
              <div class="shot_info__meta">
                  by <em><%= shot.user.username %></em>,
                  <date title="<%= shot.created_at.strftime("%b %d,%Y") %>"><%= time_ago_in_words(shot.created_at) %></date>
              </div>
          </div>
      </section>
    <% end %>
  <% end %>
</section>
<!-- <hr>
<div class="tags-cloud glassy-bg">
  <h4>Tags Cloud</h4>
  <%# tag_cloud Tag.tag_counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
    <%#= link_to tag.name, tag_path(tag.name), class: css_class %>
  <%# end %>
</div> -->
