<h2>Shots</h2>
<%= link_to 'New shot', new_shot_path, class: "button" %>
<div class="tags-cloud glassy-bg">
  <h4>Tags Cloud</h4>
  <% tag_cloud Tag.tag_counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Shot</th>
      <th>Caption</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shots.each do |shot| %>
      <tr>
        <td><%= shot.id %></td>
        <td><%#= shot.id %></td>
        <td><%= shot.caption %></td>
        <td><%= shot.all_tags %></td>
        <td><%= link_to 'Show', shot_path(shot) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
