<%= page_title: "avxplr - create new shot" %>
<div class="large-8 columns av_shot_new">
  <section class="av_shot_wrapper">
    <% if @shot.errors.any? %>
      <p class="av_error">Please fix the errors and try again</p>
      <% @shot.errors.full_messages.each do |message| %>
        <li class="av_error"><%= message %></li>
      <% end %>
      <hr>
    <% end %>

    <%= form_for @shot, url: shots_path, html: { multipart: true, class: 'av_forms' } do |f| %>

      <fieldset class="fieldset">
        <%#= f.label :image, "Image" %>
        <%= f.label :image, class: "av_form_addon_label" do %>
            <i class="fa fa-photo  av_form_addon_icon"></i>
            <%= f.file_field :image, class: "av_form_addon_input" %>
        <% end %>
        <p class="help-text av_help_text"> upload an image </p>
        <%#= f.file_field :image, required: false %>
        <p class="help-text av_error"><%= @shot.errors[:image].first %></p>

        <%= f.hidden_field :image_cache %>
        <p class="help-text av_error"><%= @shot.errors[:image].first %></p>

        <p class="text-center"><em>OR</em></p>


        <!-- video -->
        <%= f.label :video, class: "av_form_addon_label" do %>
            <i class="fa fa-video-camera  av_form_addon_icon"></i>
            <%= f.text_field :video, placeholder: "youtube video link", class: "av_form_addon_input" %>
        <% end %>
        <p class="help-text av_help_text">eg: <em>https://www.youtube.com/watch?v=PKNnqoJY0NM</em></p>
        <p class="help-text av_error"><%= @shot.errors[:video].first %></p>
      </fieldset>



      <fieldset class="fieldset">
        <%= f.label :caption, class: "av_required" %>
        <%= f.text_field :caption, placeholder: "caption", required: true %>
        <p class="help-text av_error"><%= @shot.errors[:caption].first %></p>

        <%= f.label :shot_category_id, "Category", class: "av_required" %>
        <%= f.collection_radio_buttons :shot_category_id, ShotCategory.all, :id, :name do |b| %>
          <%= b.radio_button + b.label(:class => "xxxx") %>
        <% end %>
        <p class="help-text av_error"><%= @shot.errors[:shot_category_id].first %></p>
      </fieldset>

      <%#= f.collection_select :all_tags, Tag.all, :name, :name, {include_blank: true}, {multiple: true, id: "shot-tag-select"} %>

      <%#= f.input :aircraft_id, collection: @aircrafts, as: :grouped_select, group_method: :manufacturers %>
      <%= f.button :submit, class: "button small secondary" %>
    <% end %>
  </section>
</div>
