
<%= @shot.id %> -
<%= @shot.caption %> -
<%= @shot.view_count %>

<% if @shot.image.url.present? %>
  <%= image_tag(@shot.image.small.url) %>
<% end %>

<% if @shot.tags.present? %>
  <%=raw tag_links(@shot.all_tags)%>
  <p><strong>Tags</strong></p>
  <% @shot.tags.each do |tag| %>
    <p><%= tag.name %></p>
  <% end %>
<% else %>
  <p>No Tags for this shot.</p>
<% end %>

<hr>
<% if current_user %>
  <%= link_to "Favorite | ",   favorite_shot_path(@shot), method: :put %>
<% end %>
<%= link_to 'Back', shots_path %>|
<button class="button tiny secondary" data-open="shot-flag-modal-<%= @shot.id %>">Flag</button>
<%#= current_user.favorites.exists?(favoritable_type: "Aircraft", favoritable_id: @shot.id) %>

<!-- Shot Flag Modal -->
<div class="reveal tiny" id="shot-flag-modal-<%= @shot.id %>" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= simple_form_for @flag, url: flag_shot_path(@shot), remote: true do |f| %>
  <%= f.input :message, input_html: {class: 'shot-flag-modal-message'} %>
  <%= f.button :submit %>
  <% end %>
</div>




<hr>

<h3>Comments</h3>

<%= render "comments/comments", flagable_type: @shot %>
<%= render "comments/form" %>
