<div class="large-8 columns av_shot_show">

    <section class="av_shot_item">
        <%= image_tag(@shot.image.url, class: "av_shot_item__shot_image" ) if @shot.image.present? %>
        <%= video_embed(@shot.video) if @shot.video.present? %>
        <div class="av_shot_item__shot_info">
            <div class="shot_info__caption">
                <p><%= @shot.caption %></p>
            </div>
            <div class="clearfix shot_info__meta">
                <section class="shot_info__meta__user float-left">
                    By: <em><%= @shot.user.username %></em>
                </section>
                <!-- Date -->
                <date title="<%= @shot.created_at.strftime("%b %d,%Y") %>"><%= time_ago_in_words(@shot.created_at) %> ago</date>
                <section class="shot_info__meta__flag float-right">
                    <span>Views: <%= @shot.view_count %></span>
                    <!-- Fav -->
                    <% if current_user %>
                      <% if current_user.favorites.exists?(favoritable_type: "Shot", favoritable_id: @shot.id) %>
                        <%= link_to favorite_shot_path(@shot), method: :put do %> <i title="Remove this from your favorites." class="fa fa-heart av_fav">&nbsp;</i> <% end %>
                      <% else %>
                        <%= link_to favorite_shot_path(@shot), method: :put do %> <i title="Add this to your favorites." class="fa fa-heart-o av_fav">&nbsp;</i> <% end %>
                      <% end %>
                    <% end %>
                    <span title="report this shot to admin." class="av_flag" data-open="shot-flag-modal-<%= @shot.id %>"><i class="fa fa-flag">&nbsp;</i></span>
                </section>
            </div>
        </div>
    </section>

<!-- Shot Flag Modal -->
    <div class="reveal tiny" id="shot-flag-modal-<%= @shot.id %>" data-reveal>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= simple_form_for @flag, url: flag_shot_path(@shot), remote: true do |f| %>
      <%= f.input :message, input_html: {class: 'shot-flag-modal-message'} %>
      <%= f.button :submit, "Flag", class: "button small secondary" %>
      <% end %>
    </div>

<!-- Comments -->
  <section class="av_comments">

      <h4>Comments</h4>

      <%= render "comments/form" %>

      <%= render "comments/comments", flagable_type: @shot %>

  </section>

</div>
