<%= page_title @aircraft.model %>


<div class="large-8 columns ">
<section class="av_aircraft_show">
  <!-- Title  -->
  <section class="aircraft_show__title clearfix">
      <h2 class="float-left aircraft_show__title--heading"><%= @aircraft.model %></h2>
      <!-- Fav -->
        <% if current_user && current_user.favorites.exists?(favoritable_type: "Aircraft", favoritable_id: @aircraft.id) %>
          <%= link_to favorite_aircraft_path(@aircraft), method: :put do %>
            <i title="Remove this from your favorites." class="float-right fa fa-heart av_fav aircraft_show__title--fav-icon">&nbsp;</i>
          <% end %>
        <% elsif current_user %>
          <%= link_to favorite_aircraft_path(@aircraft), method: :put do %>
            <i title="Add this to your favorites." class="float-right fa fa-heart-o av_fav aircraft_show__title--fav-icon">&nbsp;</i>
          <% end %>
        <% end %>
      <!-- /Fav -->
  </section>

  <!-- Description -->
  <section class="aircraft_show__description">
    <p><%= @aircraft.description %></p>
  </section>

  <!-- Tabs -->
  <ul class="tabs av_aircraft__details--tabs" data-tabs id="av_aircraft__details">
    <li class="tabs-title is-active"><a href="#av_aircraft__details--specifications" aria-selected="true">Specifications</a></li>
    <li class="tabs-title"><a href="#av_aircraft__details--gallery">Gallery</a></li>
  </ul>

<!-- Tabs content -->
  <div class="tabs-content av_aircraft__details--content" data-tabs-content="av_aircraft__details">
    <!-- Specifications content panel -->
    <div class="tabs-panel is-active av_aircraft__details--specifications" id="av_aircraft__details--specifications">

        <!-- General -->
          <section class="av_aircraft__details--specifications__section">
            <!-- Heading -->
              <div class="row column av_aircraft__details--specifications__heading"><h4>General</h4></div>
              <!-- / Heading -->

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Model:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.model %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Year:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.year %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Maiden flight:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.maiden_flight %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Production status:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.production_status.to_s.humanize %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">National origin:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.national_origin %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Category:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.category.name %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Roles:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%=raw x_links(@aircraft.roles.pluck(:name)) %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Types:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%=raw x_links(@aircraft.types.pluck(:name)) %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Industries:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%=raw x_links(@aircraft.industries.pluck(:name)) %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Manufacturers:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%=raw x_links(@aircraft.manufacturers.pluck(:name)) %></div>
              </div>

          </section>  <!-- /General -->


        <!-- Interior -->
          <section class="av_aircraft__details--specifications__section">
            <!-- Heading -->
              <div class="row column av_aircraft__details--specifications__heading"><h4>Interior</h4></div>
              <!-- / Heading -->

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Crew:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.crew %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Passengers</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.passengers %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Bootspace:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.bootspace %></div>
              </div>
          </section>  <!-- /Interior -->

        <!-- Dimensions -->
          <section class="av_aircraft__details--specifications__section">
            <!-- Heading -->
              <div class="row column av_aircraft__details--specifications__heading"><h4>Dimensions</h4></div>
              <!-- / Heading -->

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Length:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.length %> ft</div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Height</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.height %> ft</div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Wing span:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.wing_span %> ft</div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Wing area:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.wing_area %> sq.ft</div>
              </div>
          </section>  <!-- /Dimensions -->

        <!-- Weight -->
          <section class="av_aircraft__details--specifications__section">
            <!-- Heading -->
              <div class="row column av_aircraft__details--specifications__heading"><h4>Weight</h4></div>
              <!-- / Heading -->

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Gross weight:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.gross_weight %> kgs</div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Empty weight:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.empty_weight %> kgs</div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Max takeoff weight:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.max_takeoff_weight %> kgs</div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Max landing weight:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.max_landing_weight %> kgs</div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Max payload:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.max_payload %> kgs</div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Full fuel payload:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.full_fuel_payload %> kgs</div>
              </div>

          </section>  <!-- /Weight -->

        <!-- Power plant -->
          <section class="av_aircraft__details--specifications__section">
            <!-- Heading -->
              <div class="row column av_aircraft__details--specifications__heading"><h4>Power plant</h4></div>
              <!-- / Heading -->

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Engine manufacturers:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%=raw x_links(@aircraft.engine_manufacturers.pluck(:name)) %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Engine models:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%=raw x_links(@aircraft.engine_models.pluck(:name)) %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Engine types:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%=raw x_links(@aircraft.engine_types.pluck(:name)) %></div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Power output:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.power_output %> hp</div>
              </div>

              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Thrust:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.thrust %></div>
              </div>

          </section>  <!-- /Power plant -->


        <!-- Performance -->
          <section class="av_aircraft__details--specifications__section">
            <!-- Heading -->
              <div class="row column av_aircraft__details--specifications__heading"><h4>Performance</h4></div>
              <!-- / Heading -->

              <% if @aircraft.max_cruise_speed.present? %>
              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Max cruise speed:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.max_cruise_speed %> kn</div>
              </div>
              <% end %>

              <% if @aircraft.stall_speed.present? %>
              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Stall speed:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.stall_speed %> kn</div>
              </div>
              <% end %>

              <% if @aircraft.range.present? %>
              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Range:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.range %> nmi</div>
              </div>
              <% end %>

              <% if @aircraft.service_ceiling.present? %>
              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Service ceiling:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.service_ceiling %> ft</div>
              </div>
              <% end %>

              <% if @aircraft.max_climb_rate.present? %>
              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Max climb rate:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.max_climb_rate %> ft/min</div>
              </div>
              <% end %>

              <% if @aircraft.max_speed_limit.present? %>
              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Model:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.max_speed_limit %> kn</div>
              </div>
              <% end %>

              <% if @aircraft.takeoff_distance.present? %>
              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Takeoff distance:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.takeoff_distance %> mtr</div>
              </div>
              <% end %>

              <% if @aircraft.takeoff_ground_roll.present? %>
              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Takeoff ground roll:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.takeoff_ground_roll %> mtr</div>
              </div>
              <% end %>

              <% if @aircraft.landing_distance.present? %>
              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Landing distance:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.landing_distance %> mtr</div>
              </div>
              <% end %>

              <% if @aircraft.landing_ground_roll.present? %>
              <div class="row av_aircraft__details--specifications__item">
                  <div class="large-4 columns av_aircraft__details--specifications__name">Landing ground roll:</div>
                  <div class="large-8 columns av_aircraft__details--specifications__value"><%= @aircraft.landing_ground_roll %> mtr</div>
              </div>
              <% end %>

          </section>  <!-- /Performance -->

    </div> <!-- /Specifications content panel -->

    <!-- Gallery content panel -->
    <div class="tabs-panel av_aircraft__details--gallery" id="av_aircraft__details--gallery">
      <!-- Gallery grid -->
      <div class="row small-up-1 medium-up-2 large-up-3 av_gallery__grid">
        <!-- Front -->
        <% if @aircraft.image_front.present? %>
          <div class="column av_gallery__item">
            <%= link_to @aircraft.image_front.url , { 'data-lightbox': "gallery", rel: "lightbox" } do %>
              <%= image_tag(@aircraft.image_front.thumb.url, class: "thumbnail av_gallery__item--image")  %>
              <p class="av_gallery__item--caption">Front</p>
            <% end %>
          </div>
        <% end %>


        <!-- Back -->
        <% if @aircraft.image_back.present? %>
          <div class="column av_gallery__item">
            <%= link_to @aircraft.image_back.url , { 'data-lightbox': "gallery", rel: "lightbox" }  do %>
              <%= image_tag(@aircraft.image_back.thumb.url, class: "thumbnail av_gallery__item--image")  %>
              <p class="av_gallery__item--caption">Back</p>
            <% end %>
          </div>
        <% end %>

        <!-- Left -->
        <% if @aircraft.image_left.present? %>
          <div class="column av_gallery__item">
            <%= link_to @aircraft.image_left.url , { 'data-lightbox': "gallery", rel: "lightbox" }  do %>
              <%= image_tag(@aircraft.image_left.thumb.url, class: "thumbnail av_gallery__item--image")  %>
              <p class="av_gallery__item--caption">Left</p>
            <% end %>
          </div>
        <% end %>

        <!-- Right -->
        <% if @aircraft.image_right.present? %>
          <div class="column av_gallery__item">
            <%= link_to @aircraft.image_right.url , { 'data-lightbox': "gallery", rel: "lightbox" }  do %>
              <%= image_tag(@aircraft.image_right.thumb.url, class: "thumbnail av_gallery__item--image")  %>
              <p class="av_gallery__item--caption">Right</p>
            <% end %>
          </div>
        <% end %>

        <!-- Takeoff -->
        <% if @aircraft.image_takeoff.present? %>
          <div class="column av_gallery__item">
            <%= link_to @aircraft.image_takeoff.url , { 'data-lightbox': "gallery", rel: "lightbox" }  do %>
              <%= image_tag(@aircraft.image_takeoff.thumb.url, class: "thumbnail av_gallery__item--image")  %>
              <p class="av_gallery__item--caption">Takeoff</p>
            <% end %>
          </div>
        <% end %>

        <!-- Landing -->
        <% if @aircraft.image_landing.present? %>
          <div class="column av_gallery__item">
            <%= link_to @aircraft.image_landing.url , { 'data-lightbox': "gallery", rel: "lightbox" }  do %>
              <%= image_tag(@aircraft.image_landing.thumb.url, class: "thumbnail av_gallery__item--image")  %>
              <p class="av_gallery__item--caption">Landing</p>
            <% end %>
          </div>
        <% end %>

        <!-- Airborne -->
        <% if @aircraft.image_airborne.present? %>
          <div class="column av_gallery__item">
            <%= link_to @aircraft.image_airborne.url , { 'data-lightbox': "gallery", rel: "lightbox" }  do %>
              <%= image_tag(@aircraft.image_airborne.thumb.url, class: "thumbnail av_gallery__item--image")  %>
              <p class="av_gallery__item--caption">Airborne</p>
            <% end %>
          </div>
        <% end %>

        <!-- Top -->
        <% if @aircraft.image_top.present? %>
          <div class="column av_gallery__item">
            <%= link_to @aircraft.image_top.url , { 'data-lightbox': "gallery", rel: "lightbox" }  do %>
              <%= image_tag(@aircraft.image_top.thumb.url, class: "thumbnail av_gallery__item--image")  %>
              <p class="av_gallery__item--caption">Top</p>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- /Gallery grid -->
    </div>
    <!-- /Gallery content panel -->
  </div>
<!-- /Tabs content -->
  </section>



  <!-- Comments -->
    <section class="av_comments">
        <h4>Comments</h4>

        <%= render "comments/form" %>

        <%= render "comments/comments", flagable_type: @aircraft %>

    </section>
</div>
