<div class="row av_dashboard_latest">
  <h3 class="text-center av_heading av_main_heading">Latest activities</h3>
  <hr>
  <!-- shots -->
  <div class="large-4 columns av_latest_column av_latest_shots">
    <%= link_to admin_shots_path do %> <h4 class="text-center av_heading--red">Shots</h4> <% end %>
    <% @shots.each do |shot| %>
      <%= link_to shot_path(shot) do %>
        <div class="clearfix av_shot_item">
          <section class="float-left av_i_image_wrapper">
              <%= image_tag(shot.image.thumb.url) if shot.image.present? %>
          </section>
          <section class="float-right av_i_caption_wrapper">
            <p class="av_i_caption"><%= shot.caption.truncate_words(10) %></p>
            <div class="clearfix av_i_info">
              <span class="float-left"><%= shot.user.username %></span>
              <span title="<%= shot.created_at %>" class="float-right"><%= shot.created_at.strftime("%b %d, %Y") %></span>
            </div>
          </section>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- comments -->
  <div class="large-3 columns av_latest_column">
    <%= link_to admin_comments_path do %> <h4 class="text-center av_heading--red">Comments</h4> <% end %>
    <% @comments.each do |comment| %>
      <div class="av_comment_item">
          <p class="av_i_body"><%= comment.body.truncate_words(10) %></p>
          <div class="clearfix av_i_info">
              <span class="float-left"><%= comment.user.username %></span>
              <span title="<%= comment.created_at %>" class="float-right"> <%= comment.created_at.strftime("%b %d, %Y") %> </span>
          </div>
      </div>
    <% end %>
  </div>

  <!-- flags -->
  <div class="large-3 columns av_latest_column">
    <%= link_to admin_flags_path do %> <h4 class="text-center av_heading--red">Flags</h4> <% end %>
    <% @flags.each do |flag| %>
      <%= link_to root_path do %>
        <div class="av_flag_item">
            <p class="av_i_message"><%= flag.message %></p>
            <div class="clearfix av_i_info">
                <span class="float-left"><%= flag.user.username %></span>
                <span title="<%= flag.created_at %>" class="float-right"><%= flag.created_at.strftime("%b %d, %Y") %></span>
                <span class="float-right av_i_type"> <strong>Type: <%= flag.flagable_type %></strong> </span>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- users -->
  <div class="large-2 columns av_latest_column">
    <%= link_to admin_users_path do %> <h4 class="text-center av_heading--red">Users</h4> <% end %>
    <% @users.each do |user| %>
      <%= link_to admin_users_path do %>
        <div class="av_user_item">
            <div>
                <p class="av_i_username"><%= user.username %></p>
                <span title="<%= user.created_at %>"  class="av_i_date"> <%= user.created_at.strftime("%b %d, %Y") %> </span>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
