<div class="panel" id="role_<%= role.id %>">
  <p><%= role.id %></p>
  <p><%= role.name %></p>
  <p><%= role.description %></p>
  <p><%= link_to 'Edit', edit_admin_editor_sub_attribute_path(role, model: 'Role'), remote: true , data: { open: "role-edit-modal-#{role.id}" }%></p>
</div>


<!-- Edit Modal -->
<div class="reveal" id="role-edit-modal-<%= role.id %>" data-reveal>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= simple_form_for role, url: admin_editor_sub_attribute_path(role), remote: true do |f| %>
  <%= f.input :name, input_html: {class: 'role-name'} %>
  <%= f.input :description, input_html: {class: 'role-description'}  %>
  <%= f.button :submit %>
  <% end %>
</div>
