<%= page_title "avxplr - #{@user.username}'s profile" %>

<div class="large-8 columns av_user_profile">
  <div class="av_user_profile_wrapper av_wrapper clearfix">
    <section class="av_user_profile_image float-left">
      <% if @user.profile_image.url.present? %>
        <%= image_tag(@user.profile_image.thumb.url) %>
      <% end %>
    </section>
    <h3 class="av_heading av_user_profile_username">@<%= @user.username %></h3>
  </div>

  <!-- Tabs  -->

  <ul class="tabs" data-tabs id="av_user_profile_tabs">
    <li class="tabs-title is-active"><a href="#av_user_profile_shots_tab" aria-selected="true">Shots</a></li>
    <li class="tabs-title"><a href="#av_user_profile_fav_tab">Favorites</a></li>
  </ul>

  <div class="tabs-content" data-tabs-content="av_user_profile_tabs">
    <div class="tabs-panel is-active" id="av_user_profile_shots_tab">
      <p>Shots posted by the user.</p>
      <div class="row column small-up-1 medium-up-2 large-up-3 av_profile_posted_shots_grid">
        <% @shots.each do |shot| %>
          <%= link_to shot_path(shot)  do %>
          <div class="column av_profile_posted_shots_item">
            <section class="av_i_image">
              <%  if shot.image.present? %>
                <%= image_tag(shot.image.thumb.url) %>
              <% else %>
                <%= image_tag('video.png') %>
              <% end %>
            </section>
            <section class="av_i_link"><%= "#id #{shot.id}" %></section>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tabs-panel" id="av_user_profile_fav_tab">
      <section class="av_user_profile_fav--aircrafts">
        <% @fav_aircrafts.each do |aircraft| %>
          <p><%= aircraft.model %></p>
        <% end %>
      </section>
      <section class="av_user_profile_fav--shots">
        <% @fav_shots.each do |shot| %>
          <%= image_tag(shot.image.thumb.url, class: "av_shot_item__shot_image thumbnail") if shot.image.present? %>
          <%= link_to "#id #{shot.id}", shot_path(shot)%>
        <% end %>
      </section>
    </div>
  </div>
</div>
