<%# if controller_path == 'admin/editor/aircrafts' && action_name == 'edit' %>

<%= simple_form_for @aircraft, url: url, html: { multipart: true, class: 'av_forms' } do |f| %>
  <% if @aircraft.errors.any? || f.error_notification %>
    <section class="callout warning"><%= error_notification %></section>
  <% end %>

<section class="row">
  <div class="large-6 columns">
    <fieldset class="fieldset">
      <legend>1 : General</legend>
      <%= f.input :model, placeholder: "model" %>
      <%= f.input :description, placeholder: "description" %>
      <%= f.input :year, placeholder: "year"  %>
      <%= f.input :maiden_flight, placeholder: "mainden flight"  %>
      <%= f.label "Production status" %>
      <%= f.select :production_status_cd, enum_option_pairs(Aircraft, :production_status, true), include_blank: true %>
      <%= f.label "National origin" %>
      <%= f.select :national_origin_cd, enum_option_pairs(Aircraft, :national_origin, true), include_blank: true %>
      <%= f.association :category, as: :select, collection: Category.all %>
      <%= f.association :roles, as: :check_boxes, collection: Role.all, wrapper_html: { class: 'row large-up-3' }, item_wrapper_class: "column" %>
      <%= f.association :types, as: :check_boxes, collection: Type.all, wrapper_html: { class: 'row large-up-2' }, item_wrapper_class: "column" %>
      <%= f.association :industries, as: :check_boxes, collection: Industry.all, wrapper_html: { class: 'row large-up-3' }, item_wrapper_class: "column" %>
      <%= f.association :manufacturers, as: :check_boxes, collection: Manufacturer.all, wrapper_html: { class: 'row large-up-2' }, item_wrapper_class: "column" %>
    </fieldset>

    <fieldset class="fieldset">
      <legend>7 : Images</legend>
      <%= f.input :remote_image_front_url, placeholder: "front"  %>
      <%= f.input :remote_image_back_url, placeholder: "back"  %>
      <%= f.input :remote_image_left_url, placeholder: "left"  %>
      <%= f.input :remote_image_right_url, placeholder: "right"  %>
      <%= f.input :remote_image_top_url %>
      <%= f.input :remote_image_takeoff_url, placeholder: "year"  %>
      <%= f.input :remote_image_airborne_url, placeholder: "year"  %>
      <%= f.input :remote_image_landing_url %>
    </fieldset>

    <fieldset class="fieldset">
      <%= f.input :is_public %>
    </fieldset>
  </div>
  <div class="large-6 columns">
    <fieldset class="fieldset">
      <legend>2 : Interior</legend>
      <%= f.input :crew, placeholder: "crew"  %>
      <%= f.input :passengers, placeholder: "passengers"  %>
      <%= f.input :bootspace %>
    </fieldset>

    <fieldset class="fieldset">
      <legend>3 : Dimensions <small>ft</small></legend>
      <%= f.input :length %>
      <%= f.input :height %>
      <%= f.input :wing_span %>
      <%= f.input :wing_area %>
    </fieldset>

    <fieldset class="fieldset">
      <legend>4 : Weight</legend>
      <%= f.input :gross_weight %>
      <%= f.input :empty_weight %>
      <%= f.input :max_takeoff_weight %>
      <%= f.input :max_landing_weight %>
      <%= f.input :max_payload %>
      <%= f.input :full_fuel_payload %>
    </fieldset>

    <fieldset class="fieldset">
      <legend>5 : Power plant</legend>
      <%= f.association :engine_manufacturers, as: :check_boxes, collection: EngineManufacturer.all, wrapper_html: { class: 'row large-up-2' }, item_wrapper_class: "column"  %>
      <%= f.association :engine_models, as: :check_boxes, collection: EngineModel.all, wrapper_html: { class: 'row large-up-3' }, item_wrapper_class: "column"  %>
      <%= f.association :engine_types, as: :check_boxes, collection: EngineType.all, wrapper_html: { class: 'row large-up-3' }, item_wrapper_class: "column"  %>
      <%= f.input :power_output, placeholder: "power output"  %>
      <%= f.input :thrust %>
    </fieldset>

    <fieldset class="fieldset">
      <legend>6 : Performance</legend>
      <%= f.input :max_cruise_speed, placeholder: "max cruise speed"  %>
      <%= f.input :stall_speed, placeholder: "stall speed"  %>
      <%= f.input :range, placeholder: "range"  %>
      <%= f.input :service_ceiling, placeholder: "service ceiling"  %>
      <%= f.input :max_climb_rate, placeholder: "mcr"  %>
      <%= f.input :max_speed_limit, placeholder: "max speed limit"  %>
      <%= f.input :takeoff_distance, placeholder: "year"  %>
      <%= f.input :takeoff_ground_roll, placeholder: "year"  %>
      <%= f.input :landing_distance, placeholder: "year"  %>
      <%= f.input :landing_ground_roll, placeholder: "year"  %>
    </fieldset>


  </div>
</section>












<%#= f.simple_fields_for :aircraft_roles do |ar| %>
  <%#= ar.input :role_id, as: :check_boxes, collection: Role.all %>
<%# end %>
<%#= f.input :roles, as: :check_boxes, collection: Role.all %>



<%= f.button :submit, 'Save', class: "button secondary" %>
<% end %>
