<%# if controller_path == 'admin/editor/aircrafts' && action_name == 'edit' %>

<%= simple_form_for @aircraft, url: url do |f| %>
  <% if @aircraft.errors.any? || f.error_notification %>
    <section class="callout warning"><%= error_notification %></section>
  <% end %>

<%= f.input :model %>
<%= f.input :description %>
<%= f.input :year %>
<%= f.input :maiden_flight %>
<%= f.input :production_status %>
<%= f.input :national_origin %>
<%#= f.simple_fields_for :aircraft_roles do |ar| %>
  <%#= ar.input :role_id, as: :check_boxes, collection: Role.all %>
<%# end %>
<%#= f.input :roles, as: :check_boxes, collection: Role.all %>

<fieldset class="fieldset">
  <legend>Model</legend>
  <%= f.input :model %>
</fieldset>

<%= f.association :roles, as: :check_boxes, collection: Role.all %>
<%= f.association :types, as: :check_boxes, collection: Type.all %>
<%= f.association :industries, as: :check_boxes, collection: Industry.all %>
<%= f.association :manufacturers, as: :check_boxes, collection: Manufacturer.all %>
<%= f.association :engine_manufacturers, as: :check_boxes, collection: EngineManufacturer.all %>
<%= f.association :engine_models, as: :check_boxes, collection: EngineModel.all %>
<%= f.association :engine_types, as: :check_boxes, collection: EngineType.all %>

<%= f.button :submit %>
<% end %>
