<div class="row av_admin_aircrafts">
  <div class="clearfix">
    <h3 class="float-left av_heading">Aircrafts</h3>
    <section class="float-right av_search_form">
      <%= form_tag(admin_editor_aircrafts_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "search" %>
      <% end %>
    </section>

  </div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Public?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @aircrafts.each do |aircraft| %>
      <tr>
        <td><%= aircraft.id %></td>
        <td><%= aircraft.model %></td>
        <td><%= aircraft.is_public %></td>
        <td><%= link_to 'Show', admin_editor_aircraft_path(aircraft) %></td>
        <td><%= link_to 'Edit', edit_admin_editor_aircraft_path(aircraft) %></td>
        <td><%= link_to 'Destroy', admin_editor_aircraft_path(aircraft), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
