

<h2>Aircrafts</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Model</th>
      <th>Public?</th>
      <th>Roles</th>
      <th>Types</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aircrafts.each do |aircraft| %>
      <tr>
        <td><%= aircraft.id %></td>
        <td><%= aircraft.model %></td>
        <td><%= aircraft.is_public %></td>
        <td><%= aircraft.roles.map(&:name) %></td>
        <td><%= aircraft.types.map(&:name) %></td>
        <td><%= link_to 'Show', admin_editor_aircraft_path(aircraft) %></td>
        <td><%= link_to 'Edit', edit_admin_editor_aircraft_path(aircraft) %></td>
        <td><%= link_to 'Destroy', admin_editor_aircraft_path(aircraft), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
