<div class="row av_admin_shots">

  <div class="clearfix av_header_wrapper">
    <h3 class="float-left av_heading">Shots</h3>
    <section class="float-right av_search_form">
      <%= form_tag(admin_editor_aircrafts_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "search" %>
      <% end %>
    </section>
  </div>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th width="50">Shot</th>
      <th>Caption</th>
      <th>User</th>
      <th width="200">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @shots.each do |shot| %>
      <tr>
        <td><%= shot.id %></td>
        <td>
          <%= image_tag(shot.image.thumb.url, class: "av_shot_item__shot_image") if shot.image.present? %>
        </td>
        <td>
          <p><%= shot.caption %></p>
          <small><%= shot.created_at.strftime("%b %d, %Y") %></small>
        </td>
        <td><%= shot.user.username if shot.user.present? %></td>
        <td>
          <%= link_to "Show", shot_path(shot) %> |
          <%= link_to 'Destroy', admin_shot_path(shot), remote: true, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @shots %>
  </div>
  <%= will_paginate @shots, :container => false %>
</div>
</div>
