<div class="row av_admin_users">

  <div class="clearfix av_header_wrapper">
    <h3 class="float-left av_heading">Users</h3>

    <section class="float-right av_search_form">
      <%= form_tag(admin_users_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "search" %>
      <% end %>
    </section>
  </div>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th width="50">Avatar</th>
      <th>Username</th>
      <th>Email</th>
      <th>Is active</th>
      <th>Comments</th>
      <th>Shots</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td class="av_i_user_image"><%= image_tag(user.profile_image.small.url) %></td>
        <td> <%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.is_active %></td>
        <td><%= user.comments.count %></td>
        <td><%= user.shots.count %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @users %>
  </div>
  <%= will_paginate @users, :container => false %>
</div>
