<div class="row av_admin_flags">
  <div class="clearfix av_header_wrapper">
    <h3 class="float-left av_heading">Flags</h3>
    <section class="float-right">

    </section>
  </div>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Detail</th>
      <th>Date</th>
      <th width="200">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @flags.each do |flag| %>
      <tr>
        <td><%= flag.id %></td>
        <td>
          <p><%= flag.message %></p>

          <section class="clearfix av_i_info">
            <small class="float-left"><%= link_to flag.flagable_type, shot_or_comment_path(flag) %></small>
            <small class="float-right">Flagged by: <em><%= flaged_by_user(flag) %></em> | Flagged user: <em><%= flaged_user(flag) %></em></small>
          </section>
        </td>
        <td><%= flag.created_at.strftime("%b %d, %Y") %></td>
        <td>
          <%= link_to 'Destroy', admin_flag_path(flag), remote: true, method: :delete %> |
          <%= link_to 'Nuke it!', admin_flag_path(flag, nuke: true), remote: true, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @flags %>
  </div>
  <%= will_paginate @flags, :container => false %>
</div>
</div>
