<div class="row top-bar av_navbar">
  <section class="row">
    <section class="large-12 columns">
      <div class="top-bar-title">
        <!-- <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon dark" type="button" data-toggle></button>
        </span> -->
        <%= link_to root_path do %>
          <strong class="av_navbar__logo">avxplr</strong>
        <% end %>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-left">
          <ul class="menu av_navbar__menu--left">
            <li class="av_navbar__menu__item"><%= active_link_to "Aircrafts", aircrafts_path, class_active: 'av_active' %></li>
            <li class="av_navbar__menu__item"><%= active_link_to "Shots", shots_path, class_active: 'av_active' %></li>
          </ul>
        </div>

        <div class="top-bar-right">
          <ul class="dropdown menu av_navbar__menu--right" data-dropdown-menu>
            <% if user_signed_in? %>
              <% if admin_user? %>
                <li class="av_navbar__menu__item has-submenu is-dropdown-submenu-parent">
                  <%= link_to 'Dashboard', admin_dashboard_path %>
                  <ul class="submenu menu vertical" data-submenu>
                    <li><%= link_to "Aircraft editor", new_admin_editor_aircraft_path %></li>
                    <li><%= link_to "List", admin_editor_aircrafts_path %></li>
                    <li><%= link_to "Sub Attributes", admin_editor_sub_attributes_path %></li>
                    <li><%= link_to "Engine", admin_editor_engines_path %></li>
                    <li><%= link_to "Users", admin_users_path %></li>
                    <li><%= link_to "Shots", admin_shots_path %></li>
                    <li><%= link_to "Flags", admin_flags_path %></li>
                    <li><%= link_to "Comments", admin_comments_path %></li>
                  </ul>
                </li>
              <% end %>
              <li class="av_navbar__menu__item"><%= link_to 'New', new_shot_path %></li>
              <li class="av_navbar__menu__item"><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li class="av_navbar__menu__item"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="av_navbar__menu__item"><%= link_to 'New', new_shot_path %></li>
              <li class="av_navbar__menu__item"><%= link_to 'Login', new_user_session_path %></li>
              <li class="av_navbar__menu__item"><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>
  </section>
</div>
