<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/header" %> <!-- Main header block -->
  </head>

  <body id="<%= params[:controller].parameterize %>_controller">

    <!-- Heaer/ navbar -->
    <div class="av_header">
      <%= render "layouts/navbar" %> <!-- Navigation menu -->
    </div>

    <section class="row av_admin">
        <ul class="row column menu simple av_admin__menu">
            <li><%= active_link_to 'Dashboard', admin_dashboard_path, class_active: 'av_active' %></li>
            <li><%= active_link_to "Aircrafts", admin_editor_aircrafts_path, :active => :exclusive, class_active: 'av_active' %></li>
            <li><%= active_link_to "Editor", new_admin_editor_aircraft_path, class_active: 'av_active' %></li>
            <li><%= active_link_to "Engine", admin_editor_engines_path, class_active: 'av_active' %></li>
            <li><%= active_link_to "Sub Attributes",  admin_editor_sub_attributes_path, class_active: 'av_active' %></li>
            <li><%= active_link_to "Spam", admin_flags_path, class_active: 'av_active' %></li>
            <li><%= active_link_to "Users", admin_users_path, class_active: 'av_active' %></li>
            <li><%= active_link_to "Shots", admin_shots_path, class_active: 'av_active' %></li>
            <li><%= active_link_to "Comments", admin_comments_path, class_active: 'av_active' %></li>
            <li><%= active_link_to "Quotes", admin_quotes_path, class_active: 'av_active' %></li>
        </ul>
    </section>

    <!-- Notifications -->
    <%= render "layouts/notifications" %>

    <!-- content sidebar row -->
    <div class="row column av_admin av_content">
        <%= yield %>
        <% if Rails.env.production? %>
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-82843215-1', 'auto');
            ga('send', 'pageview', '<%= request.path %>');
          </script>
        <% end %>
    </div>

    <%#= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      $(function(){ $(document).foundation(); });


    </script>
  </body>
</html>
