<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/header" %>
  </head>

  <body id="<%= params[:controller].parameterize %>_controller">
    <div class="header">
      <%= render "layouts/navbar" %>
    </div>

    <div class="flash-messages large-12 large-centered columns">
      <% flash.each do |key, value| %>
      <section class="callout warning"><%= notice %></section>
      <section class="callout alert"><%= alert %></section>
      <% end %>
    </div>

    <div class="row">
      <section class="large-12 large-centered columns">
        <%= yield %>
      </section>
    </div>

    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
