<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/header" %>
  </head>

  <body id="<%= params[:controller].parameterize %>_controller">
    <div class="header">
      <%= render "layouts/navbar" %>
    </div>


    <div class="row">

      <section class="flash-messages">
        <% flash.each do |key, value| %>
        <section class="callout warning"><%= notice if flash.notice %></section>
        <section class="callout alert"><%= alert if flash.alert %></section>
        <% end %>
      </section>

      <div>
        <section class="large-9 columns">
          <%= render "layouts/subnav" %>
        </section>
        <section class="large-3 columns">
          <%= render "layouts/qoutes" %>
        </section>
      </div>

      <div>
        <section class="large-9 columns">
          <%= yield %>
        </section>

        <section class="large-3 columns">
          <%= render "layouts/sidebar" %>
        </section>
      </div>

    </div>

    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
    <%#= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      $(function(){ $(document).foundation(); });


    </script>
  </body>
</html>
