<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/header" %>
  </head>

  <body id="<%= params[:controller].parameterize %>_controller">
    <div class="header">
      <%= render "layouts/navbar" %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
