<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/header" %> <!-- Main header block -->
  </head>

  <body id="<%= params[:controller].parameterize %>_controller">

    <!-- Heaer/ navbar -->
    <div class="header">
      <%= render "layouts/navbar" %> <!-- Navigation menu -->
    </div>

    <!-- Notifications -->
    <section class="flash-messages">
      <% flash.each do |key, value| %>
      <section class="callout warning"><%= notice if flash.notice %></section>
      <section class="callout alert"><%= alert if flash.alert %></section>
      <% end %>
    </section>

    <!-- secondary menu & quotes block -->
    <div class="row">
      <section class="large-9 columns">
        <%= render "layouts/subnav" %>
      </section>
      <section class="large-3 columns">
        <%= render "layouts/qoutes" %>
      </section>
    </div>

    <!-- content sidebar row -->
    <div class="row">
      <section class="large-9 columns">
        <%= yield %>
      </section>

      <section class="large-3 columns">
        <%= render "layouts/sidebar" %>
      </section>
    </div>

    <%#= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      $(function(){ $(document).foundation(); });


    </script>
  </body>
</html>
